.body {
    width: 100%;
    height: 100vh;
}
#dashboard header nav {
    background-color: #FD753B !important;
}
#dashboard header nav .profile-img {
    display: flex;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
}

#dashboard header .form-control {
    width: 300px; /* Adjust width */
    height: 30px;
    background-color: #FD753B;
    border-radius: 20px; /* Rounded corners */
    border: 1px 2px 3px 4px solid #ffffff; /* Border styling */
    font-size: 16px; /* Font size */
    color: #fff;
    margin-top: 5px;
}

.form-control:focus { 
    outline: none; 
}

#dashboard header nav .profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-left: 5px;
    /* box-shadow: #1E1E1E 0px 0px 5px; */
}
#dashboard .sidebar{
    background-color: #fd753b4f;
    border: #FD753B solid 1px;
    border-radius: 10px;
    width: 170px;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#dashboard .sidebar img{
    width: 180px;
    height: 100%;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: -10px;
}
#dashboard .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -30px;
}
#dashboard .sidebar ul li {
    padding: 10px;
    text-align: center;
}
#dashboard .sidebar ul li a {
    color: #6C6C6C;
    text-decoration: none;
    font-weight: 600;
} 
#dashboard .sidebar .nav-link.active {
    color: #1E1E1E; 
}

#dashboard .sidebar ul li:hover {
    color: #1E1E1E;
}

#dashboard .sidebar .sidebar-footer {
    background-color: #fff;
    width: 120px;
    height: 25px;
    margin-top: auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;    
    bottom: 10px;
    left: 2%;
}
#dashboard .sidebar .sidebar-footer .logout-btn a {
    color: orange !important;
    text-decoration: none !important;
    font-weight: 700;
}

#dashboard .sidebar .sidebar-footer .logout-btn a:hover {
    color: #fff;
}

.contant{
    margin-left: 170px;
    padding-left: 30px;
    padding-right: 0;
    padding-top: 30px;
}
